:root {
    --animate-delay: 0.5s;
}

body {
    background: #fffdef;
    font-family: 'Nunito Sans', sans-serif;
}

#navi i {
    font-size:24px;
}

.nav-link {
    transition: ease-in-out all .3s;
}

h1, h2, h3 {
    font-weight: 700;
}

h4 {
    font-weight: 600;
}

h5 {
    font-style: italic;
}

h6 {
    font-size: 18px;
}

a {
    color: #cca71b;
}

a:hover {
    color: #7a6100;
}

