body {
    background: #EFF8FF;
    font-family: 'Nunito Sans', sans-serif;
}

.nav {
    font-style: bold;
}

.flex-container {
    display: flex;
    width: 70%;
    align-items: left;
}

/* .navbar {
    font-size: 20px;
} */

i {
    font-size:24px;
}

.b-navbar-item {
    font-style:italic;
}

.b-navbar .b-navbar-brand {
    font-style:bold;
}